<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Find the best restaurant near you"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="preload"
      media="(min-width: 1000px)"
      href="/images/heros/hero-image-full.webp"
      as="image"
    />
    <link
      rel="preload"
      media="(min-width: 700px)"
      href="/images/heros/hero-image-md.webp"
      as="image"
    />
    <link
      rel="preload"
      media="(min-width: 0px)"
      href="/images/heros/hero-image-sm.webp"
      as="image"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <title>RestaurAnt</title>
  </head>
  <body></body>
</html>
